<div class="weather-container">
    <div class="weather-card weather-card--city" th:each="forecast, iterStat : ${cities}">
        <div class="weather-card__location"
             th:text="${forecast.getName() + (forecast.getSys().getCountry() != null ? ', ' + forecast.getSys().getCountry() : '')}"></div>
        <div class="weather-card__weather-details">
            <ul class="weather-card__weather-list">
                <li class="weather-card__weather-item" th:each="weather : ${forecast.getWeather()}">
                    <div class="weather-card__icon">
                        <img th:alt="${weather.getDescription()}" th:src="${weather.getIconUrl()}">
                    </div>
                    <div class="weather-card__description" th:text="${weather.getDescription()}"></div>
                </li>
            </ul>
            <div class="weather-card__temperature"></div>
            <div class="weather-card__feels-like">Feels like: <span
                    th:text="${forecast.getMain().getFeelsLike()}"></span></div>
            <div class="weather-card__temp-range">Min/Max temperature:
                <span th:text="${forecast.getMain().getTempMin()}"></span>
                <span>/</span>
                <span th:text="${forecast.getMain().getTempMax()}"></span>
            </div>
            <div class="weather-card__humidity">Humidity: <span th:text="${forecast.getMain().getHumidity()}"></span>
            </div>
            <div class="weather-card__visibility">Visibility: <span th:text="${forecast.getVisibility()}"></span></div>
            <div class="weather-card__wind">Wind speed: <span th:text="${forecast.getWind().getSpeed()}"></span>m/s
            </div>

            <form action="home" class="weather-card__delete" method="post">
                <input name="lat" th:value="${forecast.getCoordinates().getLat()}" type="hidden">
                <input name="lon" th:value="${forecast.getCoordinates().getLon()}" type="hidden">
                <button class="delete-button" onclick="">Удалить</button>
            </form>
        </div>
    </div>
</div>
