.weather-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.weather-card {
    background-color: #f5f5f5;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin: 10px;
    width: calc(33.33% - 20px);
    box-sizing: border-box;
}

.weather-card__location {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}

.weather-card__weather-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.weather-card__weather-item {
    margin-right: 10px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.weather-card__icon img {
    width: 64px;
    height: 64px;
    margin-right: 5px;
}

.weather-card__description {
    font-size: 14px;
}

.weather-card__temperature,
.weather-card__feels-like,
.weather-card__temp-range,
.weather-card__humidity,
.weather-card__visibility,
.weather-card__wind {
    font-size: 14px;
    margin-bottom: 5px;
}

.weather-card__delete {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.delete-button {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #cc0000;
}
