<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather viewer | Login</title>
    <link rel="stylesheet" th:href="@{/templates/css/styles.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/templates/css/login.css}" type="text/css">
</head>
<body>
<h1 class="login-form__title">Вход</h1>
<div class="error-container" th:if="${errorMessage != null}">
    <p th:text="${errorMessage}"></p>
</div>

<form class="login-form" method="post" th:action="@{/login}">

    <label class="login-form__label" for="username">Username:</label>
    <input class="login-form__input" id="username" name="username" required type="text"><br><br>

    <label class="login-form__label" for="password">Password:</label>
    <input class="login-form__input" id="password" name="password" required type="password"><br><br>

    <input class="login-form__submit-button" type="submit" value="Войти">
</form>

<a class="register-link" href="register">Register</a>
</body>
</html>
