<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
</head>
<body>
<h1>Вход</h1>
<div th:if="${errorMessage != null}">
    <p th:text="${errorMessage}"></p>
</div>
<form method="post" th:action="@{/login}">

    <label for="username">Имя пользователя:</label>
    <input id="username" name="username" required type="text"><br><br>

    <label for="password">Пароль:</label>
    <input id="password" name="password" required type="password"><br><br>

    <input type="submit" value="Войти">
</form>
</body>
</html>
