<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather viewer | 404</title>
    <link rel="stylesheet" href="templates/css/styles.css" type="text/css">
    <link rel="stylesheet" href="templates/css/notFound.css" type="text/css">
</head>
<body>
<div class="error-container">
    <h1 class="error-title">404 - Страница не найдена</h1>
    <p class="error-message">Запрашиваемая страница не найдена.</p>
    <a href="home" class="error-link">Вернуться на главную</a>
</div>
</body>
</html>
