<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather viewer | 404</title>
    <link href="templates/css/styles.css" rel="stylesheet" type="text/css">
    <link href="templates/css/notFound.css" rel="stylesheet" type="text/css">
</head>
<body>
<div class="error-container">
    <h1 class="error-title">404 - page not found</h1>
    <p class="error-message">The requested page was not found</p>
    <a class="error-link" href="dashboard">Go back to the main page</a>
</div>
</body>
</html>
