<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather viewer | Register</title>
    <link rel="stylesheet" th:href="@{/templates/css/register.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/templates/css/styles.css}" type="text/css">
</head>
<body>
<h1 class="registration-form__title">Регистрация</h1>

<div th:replace="components/error-message/error-message-component.html"></div>

<form class="registration-form" method="post" th:action="@{/register}">
    <label class="registration-form__label" for="username">Username:</label>
    <input class="registration-form__input" id="username" name="username" required type="text"><br><br>

    <label class="registration-form__label" for="password">Password:</label>
    <input class="registration-form__input" id="password" name="password" required type="password"><br><br>

    <label class="registration-form__label" for="confirmPassword">Confirm password:</label>
    <input class="registration-form__input" id="confirmPassword" name="confirmPassword" required
           type="password"><br><br>

    <input class="registration-form__submit-button" type="submit" value="Зарегистрироваться">
</form>

<a class="login-link" href="login">Login</a>
</body>
</html>
