<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather Viewer | Search</title>
    <link rel="stylesheet" type="text/css" th:href="@{/templates/components/search.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/templates/css/search.css}">
</head>
<body>

<div th:replace="components/search-component.html(search)"></div>

<div class="location-list">
    <div th:each="location : ${locations}" class="location-card">
        <div class="location-info">
            <div class="location-name" th:text="${location.getName()}"></div>
            <div class="location-country" th:text="${location.getCountry()}"></div>
            <div class="location-lat" th:text="${location.getLatitude()}"></div>
            <div class="location-lon" th:text="${location.getLongitude()}"></div>
        </div>

        <form th:action="@{search}" method="post">
            <input type="hidden" name="lat" th:value="${location.getLatitude()}">
            <input type="hidden" name="lon" th:value="${location.getLongitude()}">
            <button type="submit">Добавить</button>
        </form>
    </div>
</div>

</body>
</html>
