<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather Viewer | Search</title>
    <link rel="stylesheet" th:href="@{/templates/css/styles.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/templates/components/header-component/header-component.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/templates/components/search-component/search-component.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/templates/css/search.css}" type="text/css">
</head>
<body>

<div th:replace="components/header-component/header-component.html"></div>

<div th:replace="components/search-component/search-component.html"></div>

<div th:replace="components/error-message/error-message-component.html"></div>

<div th:if="${locations != null && locations.size() != 0}">
    <div class="location-list">
        <div class="location-card" th:each="location : ${locations}">
            <div class="location-info">
                <div class="location-name" th:text="${location.getName()}"></div>
                <div class="location-country" th:text="${location.getCountry()}"></div>
                <div class="location-lat" th:text="${location.getLatitude()}"></div>
                <div class="location-lon" th:text="${location.getLongitude()}"></div>
            </div>

            <form method="post" th:action="@{search}">
                <input name="search_field" th:value="${search_field}" type="hidden">
                <input name="lat" th:value="${location.getLatitude()}" type="hidden">
                <input name="lon" th:value="${location.getLongitude()}" type="hidden">
                <button type="submit">Добавить</button>
            </form>
        </div>
    </div>
</div>

<div class="no-cities-container" th:unless="${locations != null && locations.size() != 0}">
    <p class="no-cities-message">
        Cities not found. You can find your city with
        <a class="no-cities-link" href="search">
            <strong>search</strong>
        </a>
    </p>
</div>


</body>
</html>
