<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather Viewer | Search</title>
    <link rel="stylesheet" th:href="@{/templates/components/search.css}" type="text/css">
    <link rel="stylesheet" th:href="@{/templates/css/search.css}" type="text/css">
</head>
<body>

<div th:replace="components/search-component.html"></div>

<div class="location-list">
    <div class="location-card" th:each="location : ${locations}">
        <div class="location-info">
            <div class="location-name" th:text="${location.getName()}"></div>
            <div class="location-country" th:text="${location.getCountry()}"></div>
            <div class="location-lat" th:text="${location.getLatitude()}"></div>
            <div class="location-lon" th:text="${location.getLongitude()}"></div>
        </div>

        <form method="post" th:action="@{search}">
            <input name="lat" th:value="${location.getLatitude()}" type="hidden">
            <input name="lon" th:value="${location.getLongitude()}" type="hidden">
            <button type="submit">Добавить</button>
        </form>
    </div>
</div>

</body>
</html>
